@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Honey Demo</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <p>Employee List<a href="/Employee/Index">building Web apps with ASP.NET Core</a>.</p>
</div>
